prboom2/ICONS/icons.aps
prboom2/ICONS/prboom-plus.wad
prboom2/VisualC6/Debug
prboom2/VisualC6/DebugGL
prboom2/VisualC6/DebugNOASM
prboom2/VisualC6/DebugNOASMGL
prboom2/VisualC6/DebugServer
prboom2/VisualC6/Doom.ncb
prboom2/VisualC6/Doom.opt
prboom2/VisualC6/Doom.plg
prboom2/VisualC6/Release
prboom2/VisualC6/ReleaseGL
prboom2/VisualC6/ReleaseNOASM
prboom2/VisualC6/ReleaseNOASMGL
prboom2/VisualC6/ReleaseServer
prboom2/VisualC6/prboom_server.plg
prboom2/VisualC8/*.user
prboom2/VisualC8/Debug
prboom2/VisualC8/DebugGL
prboom2/VisualC8/DebugNOASM
prboom2/VisualC8/DebugNOASMGL
prboom2/VisualC8/DebugServer
prboom2/VisualC8/Doom.ncb
prboom2/VisualC8/Doom.suo
prboom2/VisualC8/Release
prboom2/VisualC8/ReleaseGL
prboom2/VisualC8/ReleaseNOASM
prboom2/VisualC8/ReleaseNOASMGL
prboom2/VisualC8/ReleaseServer
prboom2/data/prboom.wad
prboom2/release
*.o
prboom2/doxy/

# Autotools configure hardcoded files

prboom2/ICONS/Makefile.in
prboom2/Makefile.in
prboom2/VisualC6/Makefile.in
prboom2/VisualC8/Makefile.in
prboom2/aclocal.m4
prboom2/autom4te.cache/
prboom2/autotools/ICONS/
prboom2/autotools/Makefile
prboom2/autotools/VisualC6/
prboom2/autotools/VisualC8/
prboom2/autotools/compile
prboom2/autotools/config.guess
prboom2/autotools/config.h
prboom2/autotools/config.log
prboom2/autotools/config.status
prboom2/autotools/config.sub
prboom2/autotools/data/
prboom2/autotools/depcomp
prboom2/autotools/doc/
prboom2/autotools/install-sh
prboom2/autotools/missing
prboom2/autotools/prboom.spec
prboom2/autotools/src/
prboom2/autotools/stamp-h1
prboom2/config.h.in
prboom2/configure
prboom2/data/Makefile.in
prboom2/doc/Makefile.in
prboom2/src/MAC/Makefile.in
prboom2/src/MUSIC/Makefile.in
prboom2/src/Makefile.in
prboom2/src/PCSOUND/Makefile.in
prboom2/src/POSIX/Makefile.in
prboom2/src/SDL/Makefile.in
prboom2/src/TEXTSCREEN/Makefile.in
